<div class="container" style="width:40%">
<h2>Reset</h2>
<form [formGroup]="fpForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required" class="error-message">Email is required</div>
        </div>
    </div>

    <div class="form-group">
        <button  class="btn btn-primary" >Reset Password</button>
    </div>
    <div *ngIf="message" class="alert-alert-success">{{message}}</div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</form>
</div>


